<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Login
		</ion-title>
	</ion-toolbar>
</ion-header>

<div class="card">
	<ion-card>
		<ion-card-header>
			Login
		</ion-card-header>

		<ion-card-content>
			<ion-input placeholder="Email" [(ngModel)]="_user.email" ></ion-input>
			<ion-input placeholder="Password" [(ngModel)]="_user.password"></ion-input>
			<div class="buttons">
				<ion-button size="small" color="primary" shape="round" fill="outline" (click)=onLogin()>Login</ion-button>
				<ion-button size="small" color="secondary" shape="round" (click)="onRegister()">Register</ion-button>
			</div>
		</ion-card-content>
	</ion-card>
</div>
