<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Vents
		</ion-title>
	</ion-toolbar>
</ion-header>

<div class="info">
	Id: 1dea4651-d230-4a46-8845-b8e0c436d8bf<br />
	Code: 123456<br />
	Serial: dev-vent<br />
	Status: registered<br />
</div>

<div class="cards">
	<div class="card">
		<ion-card>
			<ion-card-header>
				Vent #4 (Basement)
			</ion-card-header>

			<ion-card-content>
				<div class="buttons">
					<ion-button
						size="medium"
						color="primary"
						shape="round"
						(click)="onOpen()"
						[disabled]="isMoving()"
						>Open</ion-button
					>
					<ion-button
						size="medium"
						color="danger"
						shape="round"
						(click)="onClose()"
						[disabled]="isMoving()"
						>Close</ion-button
					>
				</div>
			</ion-card-content>
		</ion-card>
	</div>
</div>
